<app-nav-bar></app-nav-bar>
<div class="container-fluid" style="margin-top:30px">
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-5">
        <form [formGroup]="productForm">
          <div class="card">
            <div class="card-header" >
               Member Registration
            </div>
            <div class="card-body">
              
                <div class="row">
                <div class="col-md-3">
                   ID:
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="number" class="form-control" formControlName='id'>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  Name:
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" class="form-control" formControlName='name'>
                  </div>
                </div>
              </div>

             
              
              <div class="row">
                <div class="col-md-3">
                  Email:
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="text" class="form-control"  formControlName='email'>
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-3">
                  Tel:
                </div>
                <div class="col-md-9">
                  <div class="form-group">
                    <input type="number" class="form-control" formControlName='tel'>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-9">
                  <button type="button" class="btn btn-primary" (click)="addMember()">Register</button>&nbsp;
                  <button type="reset" class="btn btn-danger" (click)="resetForm()">Cancle</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-8">

      </div>
    </div>
</div>